<div class="login-form">
  <form>
      <h2 class="text-center text-white">Prisijungimo forma</h2>       
      <div class="mb-3">
          <input type="text" class="form-control" placeholder="Vartotojo vardas" required="required">
      </div>
      <div class="mb-3">
          <input type="password" class="form-control" placeholder="Slaptažodis" required="required">
      </div>
      <div class="mb-3">
          <button type="submit" class="btn btn-primary w-100">Prisijungti</button>
      </div>
      <div>
          <label class="float-start form-check-label text-white"><input type="checkbox"> Prisiminti mane</label>
          <a href="#" class="float-end">Pamiršote slaptažodį?</a>
      </div>        
  </form>
</div>