.quiz-container {
    width: 50%;
    margin: 8% auto;
    background-color: rgba(46, 45, 64, 0.7);
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    padding: 30px 30px 20px 30px; /* top, right, bottom, left */
}

.hr {
    color:white;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.redTimeout {
    color: red;
    animation: blink 1s step-end infinite;
}

.quiz-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-header-timer, .quiz-header::before {
    content: ''; 
    flex: 1;
    text-align: right;
}
