<div class="register-form">
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmitRegister()">
        <h2 class="text-center text-white">Registracijos forma</h2>       
        <div class="mb-3">
            <input type="email" class="form-control" formControlName="email" placeholder="El. paštas" required="required">
            <div *ngIf="submitted && registrationForm.controls['email'].errors" class="text-danger">
                <p *ngIf="registrationForm.get('email')?.hasError('required')">El. paštas yra privalomas.</p>
                <p *ngIf="registrationForm.get('email')?.hasError('email')">El. pašto formatas neteisingas.</p>
                <p *ngIf="registrationForm.get('email')?.hasError('maxlength')">El. pašto ilgis neturi viršyti 70 simbolių.</p>
            </div>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" formControlName="password" placeholder="Slaptažodis" required="required">
            <div *ngIf="submitted && registrationForm.controls['password'].errors" class="text-danger">
                <p *ngIf="registrationForm.get('password')?.hasError('required')">Slaptažodžis yra privalomas.</p>
                <p *ngIf="registrationForm.get('password')?.hasError('minlength')">Slaptažodis turi būti ne trumpesnis nei 5 simboliai.</p>
                <p *ngIf="registrationForm.get('password')?.hasError('atLeastOneLetterAndNumber')">Slaptažodis turi turėti savyje bent 1 raidę ir 1 skaičių.</p>
            </div>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" formControlName="password2" placeholder="Pakartokite slaptažodį" required="required">
            <div *ngIf="submitted && registrationForm.controls['password2'].errors" class="text-danger">
                <p *ngIf="registrationForm.get('password2')?.hasError('required')">Prašome pakartotinai įvesti slaptažodį.</p>
            </div>
            <div *ngIf="submitted && registrationForm.hasError('passwordsNotSame') "class="text-danger">
                <p>Slaptažodis neatitinka pirminio slaptažodžio.</p>
            </div>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" formControlName="firstname" placeholder="Vardas" required="required">
            <div *ngIf="submitted && registrationForm.controls['firstname'].errors" class="text-danger">
                <p *ngIf="registrationForm.get('firstname')?.hasError('required')">Vardas yra privalomas.</p>
                <p *ngIf="registrationForm.get('firstname')?.hasError('maxlength')">Vardo ilgis neturi viršyti 50 simbolių.</p>
                <p *ngIf="registrationForm.get('firstname')?.hasError('onlyLetters')">Vardas turi turėti savyje tik raides.</p>
            </div>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" formControlName="lastname" placeholder="Pavardė" required="required">
            <div *ngIf="submitted && registrationForm.controls['lastname'].errors" class="text-danger">
                <p *ngIf="registrationForm.get('lastname')?.hasError('required')">Pavardė yra privaloma.</p>
                <p *ngIf="registrationForm.get('lastname')?.hasError('maxlength')">Pavardės ilgis neturi viršyti 50 simbolių.</p>
                <p *ngIf="registrationForm.get('lastname')?.hasError('onlyLetters')">Pavardė turi turėti savyje tik raides.</p>
            </div>
        </div>
        <div class="form-check d-flex justify-content-center mb-5">
            <input class="form-check-input me-2" formControlName="agreement" type="checkbox">
            <label class="text-white" style="padding-right: 0.5rem;">Sutinku su</label>
            <a href="#">Privatumo politika</a>
        </div>
        <div *ngIf="submitted && registrationForm.controls['agreement'].errors" class="text-danger">
            <p *ngIf="registrationForm.get('agreement')?.hasError('required')">Prašome sutikti su privatumo politika.</p>
        </div>
        <div>
            <button type="submit" class="btn btn-primary w-100">Registruotis</button>
        </div>
    </form>
  </div>