<div class="register-form">
    <form>
        <h2 class="text-center">Registracijos forma</h2>       
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Vartotojo vardas" required="required">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" placeholder="El. paštas" required="required">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" placeholder="Slaptažodis" required="required">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" placeholder="Pakartokite slaptažodį" required="required">
        </div>
        <div class="form-check d-flex justify-content-center mb-5">
            <input class="form-check-input me-2" type="checkbox">
            <label class="form-check-label">
              Sutinku su <a href="#">Privatumo politika</a>
            </label>
        </div>
        <div>
            <button type="submit" class="btn btn-primary w-100">Registruotis</button>
        </div>
    </form>
  </div>